body {
    display: flex;
    height: 100vh;
    margin: 0;
}

#TableContainer {
    width: 20%;
    background-color: #f0f0f0;
    overflow: auto;
    padding: 10px;
}

.tokenTable {
    border-collapse: collapse;
    width: 100%;
}

.tokenTable,
.tokenTable th,
.tokenTable td {
    border: 2px solid black;
    text-align: center;
}

/* Agrega estilos para las celdas aquí, si es necesario */

.editor-errors-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#editor {
    flex-grow: 1;
    height: auto;
    /* Corregido para ajustar automáticamente la altura */
    background-color: #e0e0e0;
}

#errorSection {
    height: 20vh;
    min-height: 50px;
    /* Altura mínima inicial */
    max-height: 20vh;
    /* Altura máxima para permitir el desplazamiento */
    overflow-y: auto;
    /* Permite desplazamiento vertical si el contenido excede max-height */
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
    /* Añade un borde ligero para visualización */
    background-color: #d0d0d0;
    /* Color de fondo ligero */
}


.success-message {
    color: green;
}

.error-message {
    color: red;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #tokenTable {
        width: 100%;
        /* El tokenTable ocupa el ancho completo en dispositivos móviles */
    }

    .editor-errors-container {
        flex-direction: column;
    }

    #editor,
    #errorSection {
        width: 100%;
        /* Asegura que tanto el editor como la sección de errores ocupen el ancho completo */
    }
}